asgiref==3.3.1
Django==3.1.5
django-session-timeout==0.1.0
django-sslserver==0.22
mysqlclient==2.0.3
Pillow==8.0.1
python-barcode==0.13.1
python-dateutil==2.8.1
pytz==2020.5
reportlab==3.5.56
six==1.15.0
sqlparse==0.4.1
